*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: 'Tomorrow', sans-serif;
}

.container {
  max-width: 1600px;
  width: 95%;
  margin: 0 auto;
}

.welcome {
  height: 100vh;
  width: 100vw;
}

.welcome .background {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#welcome-title {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 700px) {
  .typewriter {
    width: 13.5em;
    overflow: hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    -webkit-animation: typing 2.5s steps(30, end), blink-caret 0.75s step-end infinite;
    animation: typing 2.5s steps(30, end), blink-caret 0.75s step-end infinite;
  }
}

/* The typing effect */
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 13.5em;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 13.5em;
  }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.daily-image h1 {
  text-align: center;
  color: darkgrey;
  font-size: 3em;
  text-shadow: -6px 4px rgba(128, 128, 128, 0.5);
  padding: 0;
  margin: 70px;
}

@media (max-width: 1300px) {
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }
}

.image-container {
  display: flex;
}

.image-container .image {
  display: block;
  width: 70%;
  height: 90%;
  padding: 10px;
}

.image-container .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.image-container .description .image-title {
  color: white;
  font-size: 35px;
  margin: 0 50px 0 10px;
  padding: 15px 40px;
  border-bottom: 1px solid grey;
}

.image-container .description .image-explanation {
  color: white;
  text-shadow: none;
  font-weight: 400;
  font-size: 0.9em;
  margin: 30px;
  padding: 20px;
}

.mars-gallery .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mars-gallery h3 {
  color: white;
  font-size: 3rem;
  text-align: center;
  padding-top: 110px;
  margin: 0;
}

.mars-gallery p {
  color: white;
  margin: 40px 0 80px 0;
  font-size: 1.5rem;
  padding: 0 20px;
  text-align: center;
}

.mars-gallery ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mars-gallery li {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  list-style: none;
  margin: 30px;
  padding: 0;
}

@media (min-width: 1200px) {
  .mars-gallery li {
    display: block;
    width: 400px;
    height: 400px;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .mars-gallery li {
    display: block;
    width: 300px;
    height: 300px;
  }
}

#load-more {
  display: block;
  width: 230px;
  height: 80px;
  color: white;
  border-radius: 40px;
  border: 5px solid white;
  background-color: black;
  font-size: 1.3em;
  font-weight: 600;
  margin: 100px;
  outline: none;
  text-align: center;
  padding: 15px;
  cursor: pointer;
}

#load-more:hover {
  background-color: white;
  color: black;
}

/*# sourceMappingURL=main.css.map */
